script(src = '/socket.io/socket.io.js')
script
  //-var socket = io.connect('http://192.168.56.101');
  var socket = io.connect('http://localhost');
  socket.on('connect', function(data){
    socket.emit('to_server', 'data');
    socket.on('to_client', function(data){
      p = document.createElement('p');
      p.textContent = data;
      document.getElementById('chat').appendChild(p);
    });
  })
h1= title
p Welcome to #{title}

for obj in chat
  p #{obj}

#chat

p
  form(action = "/room", method = "POST")
    label 発言する:
      input(type = "text", name = "chat")
      input(type = "submit", name = "発言する")
