script(src = '/socket.io/socket.io.js')
script
  var socket = io.connect('http://192.168.56.101');
  socket.on('connect', function(data){
    console.log(data);
    socket.emit('msg_send', 'data');
    socket.on('chat', function(data){
      console.log(data);
    });
  })
h1= title
p Welcome to #{title}
for obj in chat
  p #{obj}
p
  form(action = "/room", method = "POST")
    label 発言する:
      input(type = "text", name = "chat")
      input(type = "submit", name = "発言する")
