script(src = '/socket.io/socket.io.js')
script
  var socket = io.connect('http://localhost');
  socket.on('chat', function(data){
    console.log(data);
    socket.emit('msg_push', {my : 'data'});
  })
h1= title
p Welcome to #{title}
for obj in chat
  p #{obj}
p
  form(action = "/room", method = "POST")
    label 発言する:
      input(type = "text", name = "chat")
      input(type = "submit", name = "発言する")
