h1= title
p Welcome to #{title}
  form(action = "./signup", method = "POST")
    label UserName:
      input(type = "text")
    label Password:
      input(type = "text")
    label Password2:
      input(type = "text")
    label 送信:
      input(type = "submit", value = "送信")
